.dish {

  .dish__title.dish-title {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    color: $black-2;
    cursor: pointer;
    user-select: none;

    .dish-title__img {
      display: block;
      width: 19px;
      margin-right: 4px;
      margin-bottom: 3px;

      &.dish-title__img_upside-down {
        transform: rotate(180deg);
      }
    }

    span {
      display: block;
      font-weight: 600;
    }
  }

  ul.dish-variants {
    margin-top: 3px;
    margin-bottom: 3px;

    li.dish-variants__item {
      padding-top: 4px;
      padding-right: 12px;
      padding-bottom: 4px;
      padding-left: 44px;
      border-radius: 6px;

      &.dish-variants__item_active {
        background-color: $gray-1;
      }

      a {
        color: $black-2;
        text-decoration: none;
      }
    }
  }
}