.drawer {
  width: 240px;
  height: 812px;
  padding: 11px 15px;
  background-color: $light-gray-2;
  position: relative;
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
  z-index: 1;

  &.drawer_closed {
    transform: translateX(-150%);
  }

  .label-img {
    display: flex;
    justify-content: center;

    img {
      display: block;
      width: 210px;
    }
  }

  .label-text {
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
    padding-bottom: 25px;
    color: $black-1;
  }

  .menu {
    padding-top: 27px;
  }
}

@media screen and (min-width: 1400px) {
  .drawer {
  
    &.drawer_closed {
      transform: translateX(-250%);
    }
  }
}