.main {
  width: 100%;
  background-color: $light-gray-1;
  padding: 10px 24px 34px;
  position: relative;
  transform: translateX(0);
  transition: transform 500ms ease-in-out, width 500ms ease-in-out;

  &.offsetted {
    transform: translateX(240px);
    width: calc(100% - 240px);
  }

  .collapse-button {
    width: 30px;
    position: absolute;
    top: 50vh;
    left: 9px;
    cursor: pointer;
    z-index: 2;
    transition: transform 500ms ease-in-out;
    user-select: none;

    &.collapse-button_flipped {
      transform: rotate(180deg);
    }
  }
}