.main {
  background-color: $light-gray-1;
  width: 1000px;
  padding: 10px 24px 34px;
  position: relative;

  .collapse-button {
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    z-index: 1;
    transition: transform 500ms ease-in-out, right 500ms ease-in-out;
    user-select: none;

    &.collapse-button_flipped {
      transform: rotate(180deg);
    }
  }
}