.table {
  margin-bottom: 20px;

  .table__header.table-header {
    display: flex;
    background-color: $light-gray-2;
    padding-top: 10px;
    padding-bottom: 10px;

    .table-header__empty-block {
      width: 40px;
    }

    .table-header__checkbox {
      width: 32px;
      margin-right: 15px;
    }

    .table-header__title {
      width: 390px;
      color: $gray-2;
    }

    .table-header__weight {
      width: 38px;
      margin-right: 15px;
      color: $gray-2;
    }

    .table-header__kcal {
      width: 50px;
      margin-right: 15px;
      color: $gray-2;
    }

    .table-header__annotation {
      width: 120px;
      color: $gray-2;
    }
  }

  .table__body.table-body {
    // display: flex;

    // #draggable-element {
    //   width: 100px;
    //   height: 100px;
    //   // background-color: #666;
    //   color: white;
    //   // padding: 10px 12px;
    //   cursor: move;
    //   position: relative;
    //   /* important (all position that's not `static`) */
    // }

    // .face {
    //   animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    //   transform: translate3d(0, 0, 0);
    //   backface-visibility: hidden;
    //   perspective: 1000px;
    // }

    // @keyframes shake {
    //   10%,
    //   90% {
    //     transform: translate3d(-1px, 0, 0);
    //   }
    //   20%,
    //   80% {
    //     transform: translate3d(4px, 0, 0);
    //   }
    //   30%,
    //   50%,
    //   70% {
    //     transform: translate3d(-5px, 0, 0);
    //   }
    //   40%,
    //   60% {
    //     transform: translate3d(5px, 0, 0);
    //   }
    // }

  }

  .checkbox-container {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    .checkbox-container__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
      &:checked ~ .checkbox-container__checkmark:after {
        display: block;
      }
    }
  
    .checkbox-container__checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 4px;
      border: 1px solid $gray-3;
      background-color: $light-gray-2;
      cursor: pointer;
  
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid $black-3;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
      }
    }
  }
}
