.recipe {
  background-color: $light-gray-1;
  width: 1000px;
  padding: 10px 23px 34px 24px;
  position: relative;

  h2 {
    font-size: 36px;
    line-height: 44px;
    margin-left: 23px;
    margin-bottom: 16px;
  }
}