.recipe {
  background-color: $light-gray-1;
  width: 100%;
  position: relative;

  h2 {
    font-size: 36px;
    line-height: 44px;
    margin-left: 23px;
    margin-bottom: 16px;
  }

  .collapse-button {
    width: 30px;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    z-index: 1;
    transition: transform 500ms ease-in-out, right 500ms ease-in-out;
    user-select: none;

    &.collapse-button_flipped {
      transform: rotate(180deg);
    }
  }
}