* {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  color: $black-1;
  line-height: 24px;
  letter-spacing: -0.6%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

h3 {
  font-size: 26px;
  line-height: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}