$white-1: #fff;

$black-1: #000;
$black-2: #252c32;
$black-3: #3c3c3c;
$black-4: #373b4e;

$light-gray-1: #f9fbfd;
$light-gray-2: #f6f8f9;

$gray-1: #eef0f2;
$gray-2: #6e7c87;
$gray-3: #b0babf;
$gray-4: #d2d3d7;
$gray-5: #686868;

$red-1: #f16662;